<% states.forEach((state) => { %>
<span
    id="alpine-like-state-effect-<%=state.postId %>"
    x-init="active = <%= state.liked %>"
    hx-swap-oob="true"
></span>

<div id="save-<%= state.postId %>" hx-swap-oob="true">
    <sl-tooltip
        content="Зберегти"
        style="<%= state.saved ? 'color: var(--sl-color-success-500)' : '' %>"
    >
        <sl-icon-button
            id="trigger-<%= state.postId %>"
            name="<%= state.saved ? 'bookmark-fill' : 'bookmark-plus' %>"
            hx-get="/r/bookmarks/popup/<%= state.postId %>"
            hx-target="#bookmark-popup-<%= state.postId %>"
            hx-trigger="click"
            hx-swap="innerHTML"
        ></sl-icon-button>
    </sl-tooltip>

    <div id="bookmark-popup-<%= state.postId %>"></div>
</div>
<% }) %>
