<% states.forEach((state) => { %>
<span
    id="alpine-like-state-effect-<%=state.postId %>"
    x-init="active = <%= state.liked %>"
    hx-swap-oob="true"
></span>

<div
    x-data="{saved: <%= state.saved %>}"
    id="save-<%= state.postId %>"
    hx-swap-oob="true"
>
    <sl-tooltip content="Зберегти">
        <sl-icon-button
            id="trigger-<%= state.postId %>"
            :name="saved ? 'bookmark-fill' : 'bookmark-plus'"
            hx-get="/r/bookmarks/popup/<%= state.postId %>"
            hx-target="#bookmark-popup-<%= state.postId %>"
            hx-trigger="click"
            hx-swap="innerHTML"
        ></sl-icon-button>
    </sl-tooltip>

    <div id="bookmark-popup-<%= state.postId %>"></div>
</div>
<% }) %>
