<% posts.forEach((post) => { %>
<li class="post-card detailed" id="post-<%= post.id %>">
    <a href="#" class="post-card__header post-card__owner">
        <sl-avatar
            style="--size: 2rem"
            initials="<%= typeof post.owner === 'object' && post.owner ? post.owner.username.slice(0, 2) : '' %>"
            label="User avatar"
        ></sl-avatar>
        <span class="truncate"
            ><%= typeof post.owner === 'object' && post.owner ?
            post.owner.username : 'Невідомий автор' %></span
        >
    </a>

    <div class="post-card__content grid">
        <a href="/p/<%= post.slug %>" class="post-card__content">
            <h3 class="post-card__title large"><%= post.title %></h3>
            <p class="post-card__description"><%= post.description %></p>
        </a>

        <div class="post-card__cover">
            <% if (post.coverImage) { %>
            <img
                src="http://localhost:9000/users/<%= post.coverImage %>"
                alt="Post cover image"
            />
            <% } %>
        </div>

        <div class="post-card__reactions">
            <div class="post-card__reactions-count">
                <% if (post.publishedAt) { %>
                <div class="post-card__details">
                    <sl-relative-time
                        format="narrow"
                        date="<%= post.publishedAt %>"
                        lang="uk-UA"
                    ></sl-relative-time>
                </div>
                <% } %>
                <div id="reactions-<%= post.id %>" class="skeleton-flex-line">
                    <sl-skeleton
                        class="skeleton-sm-text-icon-line"
                        effect="sheen"
                    ></sl-skeleton>
                    <sl-skeleton
                        class="skeleton-sm-text-icon-line"
                        effect="sheen"
                    ></sl-skeleton>
                </div>
            </div>

            <div class="post-card__reactions-actions">
                <sl-tooltip content="Видалити зі списку читання">
                    <sl-icon-button
                        name="trash"
                        hx-trigger="click"
                        hx-delete="/r/bookmarks/<%= post.id %>"
                        hx-on::after-request="if (!event.failed) Alpine.$data(this).len -= 1"
                        hx-swap="none"
                        hx-remove="#post-<%= post.id %>"
                    ></sl-icon-button>
                </sl-tooltip>

                <sl-dropdown>
                    <sl-icon-button
                        slot="trigger"
                        name="three-dots"
                    ></sl-icon-button>

                    <sl-menu style="width: 220px">
                        <sl-menu-item
                            hx-trigger="click"
                            hx-delete="/r/bookmarks/<%= post.id %>"
                            hx-on::after-request="if (!event.failed) Alpine.$data(this).len -= 1"
                            hx-swap="none"
                            hx-remove="#post-<%= post.id %>"
                        >
                            Видалити зі списку читання
                        </sl-menu-item>
                        <sl-divider></sl-divider>
                        <sl-menu-item>Заблокувати автора</sl-menu-item>
                        <sl-menu-item>Поскаржитися</sl-menu-item>
                    </sl-menu>
                </sl-dropdown>
            </div>
        </div>
    </div>
</li>
<% }) %>
