<% comments.forEach(function(comment) { %>
    <div class="comment" id="comment-<%= comment.id %>" data-comment-id="<%= comment.id %>">
        <div class="comment__author">
            <sl-avatar 
                <% if (comment.author.avatarUrl) { %>
                    image="<%= comment.author.avatarUrl %>"
                <% } else { %>
                    initials="<%= comment.author.username.slice(0,2) %>"
                <% } %>
            ></sl-avatar>

            <div class="comment__info">
                <h3 class="comment__info--name"><%= comment.author.username %></h3>
                <span class="comment__info--details">
                    <%= new Date(comment.createdAt).toLocaleDateString('uk-UA', { day: 'numeric', month: 'long' }) %>
                    <% if (comment.createdAt.getTime() !== comment.updatedAt.getTime()) { %>
                        <small>(відредаговано)</small>
                    <% } %>
                </span>
            </div>
            <div class="comment__options">
                <sl-dropdown>
                    <sl-icon-button
                        name="three-dots"
                        slot="trigger"
                        label="Опції"
                    ></sl-icon-button>
                    <sl-menu>
                        <% if (user && user.id === comment.author.id) { %>
                            <sl-menu-item disabled>Редагувати</sl-menu-item>
                            <sl-menu-item 
                                hx-delete="/r/comments/<%= comment.id %>"
                                hx-confirm="Ви впевнені, що хочете видалити цей коментар?"
                                hx-remove="#comment-<%= comment.id %>"
                            >
                                Видалити
                            </sl-menu-item>
                        <% } else { %>
                            <sl-menu-item>Поскаржитися</sl-menu-item>
                        <% } %>
                    </sl-menu>
                </sl-dropdown>
            </div>
        </div>
        <div id="comment-content-<%= comment.id %>" class="comment__content">
            <p><%= comment.content %></p>
        </div>

        <div class="comment__actions">
            <sl-button
                variant="text"
                pill 
                onclick="toggleReplies('<%= comment.id %>')"
                <%= !comment.repliesCount ? 'disabled' : '' %>
            >
                <sl-icon
                    class="sm"
                    slot="prefix"
                    name="chevron-down"
                ></sl-icon>
                Відповіді (<%= comment.repliesCount ?? 0 %>)
            </sl-button>

            <sl-button
                onclick="createReplyForm('<%= comment.id %>')"
                class="ghost"
                variant="text"
                pill
                data-reply-btn
            >
                <sl-icon class="sm" slot="prefix" name="chat"></sl-icon>
                Відповісти
            </sl-button>
        </div>

        <div id="reply-form-container-<%= comment.id %>" class="reply-form-container"></div>

        <div 
            id="replies-<%= comment.id %>" 
            class="reply" 
            style="display: none"
            hx-get="/r/comments/<%= comment.id %>/replies"
            hx-trigger="load"
            hx-indicator="#reply-loading-<%= comment.id %>"
        >
            <div id="reply-loading-<%= comment.id %>" class="reply-loading">
            </div>
        </div>
    </div>
<% }); %>
